.form-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/src/assets/images/betrave.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: 1rem;
}

.the-label1 {
  color: black; /* Correction de 'balck' à 'black' */
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.formOne,
.formTwo,
.formThree,
.formFor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.nes-input {
  width: 60vw;
  height: 4vh;
  border-radius: 0.45rem;
  background-color: rgba(128, 128, 128, 0.159);
}

p {
  display: flex;
  justify-content: left;
  font-size: 1.25rem;
}

.back-home2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-decoration: none;
}

.validate2 {
  display: block;
  min-width: 100px;
  color: #e9c46a;
  background-color: #242423;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  font-size: 1.25rem;
}
.validate2:hover {
  background-color: #e9c46a;
  color: #242423;
}

.betrave {
  display: none; /* L'image à gauche sera visible en version desktop uniquement */
  margin-left: -5rem;
}
.create-count {
  text-decoration: underline;
}

@media only screen and (max-width: 720px) {
  .form-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 70vh; /* Pour que l'image couvre toute la hauteur de l'écran */
    margin-top: 3rem;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .form-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url("/src/assets/images/betrave.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .nes-input {
    width: 50vw; /* Ajuste la largeur du champ d'entrée pour tablettes */
    height: 5vh; /* Légèrement plus grand pour une meilleure interaction sur tablette */
  }

  .the-label1 {
    font-size: 1.25rem; /* Taille de texte adaptée pour la tablette */
    color: #333; /* Utilisation d'un texte plus lisible */
  }

  .validate2 {
    font-size: 1.1rem;
    padding: 8px;
    min-width: 120px; /* Un peu plus grand pour les boutons sur tablette */
  }

  .formOne,
  .formTwo,
  .formThree,
  .formFor {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
  }

  .back-home2 {
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.15rem; /* Taille du texte légèrement plus petite que sur desktop */
  }

  /* Si une image ou autre élément a besoin d'être ajusté pour les tablettes */
  .betrave {
    width: 60vw;
    height: 100vh; /* Image occupe la moitié de la hauteur */
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) {
  .form-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 90vh; /* Assurez-vous que l'image et le formulaire occupent toute la hauteur */
    background-image: none; /* Pas d'image en fond pour la version desktop */
    margin-left: -5rem;
  }

  /* Image à gauche */
  .betrave {
    width: 60vw; /* L'image occupe 50% de la largeur */
    height: 102vh;
    display: block; /* L'image est visible sur les écrans larges */
    background-image: url("/src/assets/images/betrave.jpg");
    background-size: cover;
    background-position: left;
  }

  /* Formulaire à droite */
  .form-container2 .form-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5%; /* Espace à droite */
  }

  .nes-input {
    width: 23vw;
    height: 4vh;
    background-color: rgba(128, 128, 128, 0.32);
    border-radius: 0.45rem;
  }

  .the-label1 {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
  }

  .validate2 {
    font-size: 1rem;
  }

  .create-count {
    text-decoration: underline;
    padding-right: 9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
